body {
    background-color: burlywood;
}
body{
 font-family:"Roboto", sans-serif;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
div{
    height:170px;
    width:150px;
    margin: 10px 1000px;
    padding: 60px
}